@import 'variables.module';

.footer{
    background-color: $color-primary;
    color: $color-secondary;
    max-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 9999;
}

.image{
    display: flex;
    margin: 2px;
    padding: 2px;
}