@import 'variables.module';

.header{
    background-color: $color-primary;
    color: $color-background;
    border-bottom: 1px solid $color-background-darker;
    max-height: 4em;
    width: 100%;
    display: flex;
    top: 0;
    flex-direction: row;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    z-index: 9999;
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.list li{
    display: flex;
    height: 100%;
    float: left;
}
.list li a {
    color: $color-background;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.list li a:hover {
    background-color: $color-primary-darker;
    color: $color-background-lighter;
}

.list li.title a{
    font-size: 2em;
    font-weight: bold;
    color: $color-secondary;
    background-color: $color-background;
}

.list li.title a:hover{
    color: $color-secondary-lighter;
    background-color: $color-background-lighter;
}