@import 'variables.module';

.search {
    width: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
  }
  .search_span {
    width: 15%;
    border: 1px solid $color-primary;
    background: $color-primary;
    padding-top: 4px;
    text-align: center;
    color: $color-background-darker;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
  }
  .search_input {
    width: 100%;
    border: 3px solid $color-primary;
    border-left: none;
    padding: 5px;
    padding-left: 12px;
    border-radius: 0 10px 10px 0;
    outline: none;
  }