@import 'variables.module';

.songlist{
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1em;
    max-width: 560px;
    width: 100%;
    color: $color-primary;
}
.songlist li{
    display: flex;
    flex-direction: column;
    line-height: 1em;
    margin: 0.5em 0;
    border-top: 2px solid $color-verse-border-first;
}

.songlist li a{
    height: auto;
    text-align: center;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songlist li:nth-child(3n+2) a{
    border-color: $color-verse-border-second;
}

.songlist li:nth-child(3n+3) a{
    border-color: $color-verse-border-third;
}

.songlist li a:hover{
    background-color: $color-background-darker;
    color: $color-primary-darker;
}