@import 'variables.module';

.youtube{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    max-width: 560px;
    margin-bottom: 1em;
}

.youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.checked{
    margin: 1em;
}

.lyrics{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1em;
    max-width: 560px;
    width: 100%;
    color: $color-primary;
}
.lyrics verse{
    text-transform: full-width; 
	writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    text-combine-upright: none; 
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-top: 2px solid $color-verse-border-first;
}

.lyrics verse:nth-child(3n+2){
    border-color: $color-verse-border-second;
}

.lyrics verse:nth-child(3n+3){
    border-color: $color-verse-border-third;
}

.lyrics line{
    display: flex;
    align-items: flex-end;
}

.lyrics line{
    width: 2em;
}

.lyrics line ruby rt{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}